/*--put your own style sheet here--*/
body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $black-s;
  background: $white-l;
  cursor: url("https://cdn.jsdelivr.net/gh/Grooveofmimosa/Picture/planet0.cur"), auto;
}
#page {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
a {
  color: $a-post;
  text-decoration: none;
  transition: 0.5s;
  cursor: url("https://cdn.jsdelivr.net/gh/Grooveofmimosa/Picture/pointer0.cur"), auto !important;
}
a:hover,
a:active,
a:focus {
  color: $a-hover-post;
  outline: none;
  text-decoration: none;
  cursor: url("https://cdn.jsdelivr.net/gh/Grooveofmimosa/Picture/pointer0.cur"), auto !important;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: #f8f8f8;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #58be8e;
}
/*鼠标在滑块上方时滑块变色*/
::-webkit-scrollbar-thumb:hover {
  background-color: #009688;
}
/*Mac风格代码块*/
.highlight {
  background: #21252b;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  padding-top: 30px;
}
.highlight::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 90px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}
